* {
    font-family: 'Poppins', sans-serif
}

body {
    margin-top: 11rem;
    margin-left: 9.5rem;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center
}


button {
    margin-left: -12rem;
    width: 30rem;
    height: 3rem;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.2)
}

.texto-descriptivo {
    color: #fff;
    font-weight: 500;
    width: 35rem;
    margin-right: 10rem
}

.texto-descriptivo>h1 {
    font-weight: 800;
    font-size: 3.5rem;
    margin: 0;
    line-height: 4rem
}

.form-fill {
    margin-left: -12rem;
    background-color: #fff;
    margin-top: 1.5rem;
    height: 25rem;
    width: 30rem;
    border-radius: 7px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.2)
}

.form-fill>button {
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: hsl(154, 59%, 51%);
    font-weight: 500;
    width: 26.5rem;
    box-shadow: 0 5px hsl(154, 56%, 48%)
}

.form-fill>p {
    font-size: 10px;
    margin: 0 auto;
    color: #d6d4df;
    font-weight: 100;
    margin-top: 1rem;
    text-align: center
}

.form-fill>p>b {
    color: hsl(0, 100%, 74%)
}

input:focus {
    outline-color: hsl(246, 25%, 77%)
}

input.empty {
    outline: solid 2px hsl(0, 100%, 74%)
}

#form>#fname,
#form>#lname,
#form>#email,
#form>#password {
    width: 25rem;
    margin-left: 2rem;
    border-radius: 5px;
    padding-left: 1rem;
    height: 2.5rem;
    border: 1px solid #e5e5e5;
    font-weight: 600
}

button:hover {
    opacity: 0.85;
}



@media screen and (max-width: 1040px) {
    body {
        margin-top: 0;
        margin-left: 0;
        font-size: 10px;
        grid-template-columns: repeat(1, 1fr);
        background-color: hsl(0, 100%, 74%);
        background-image: url(images/bg-intro-mobile.png);
        text-align: center;
        justify-content: center;
        height: auto;
        gap: .5rem;
        padding: .5rem
    }

    #form>#fname,
    #form>#lname,
    #form>#email,
    #form>#password {
        width: 13rem;
        margin-left: auto
    }

    button {
        margin-left: 0
    }

    .form-fill {
        margin: 0 auto;
        height: 23rem;
        width: 17rem;
        border-radius: 10px;
        margin-top: .5rem
    }

    .form-fill>p {
        width: 14rem
    }

    .form-fill>button {
        margin-left: 0;
        width: 14.5rem
    }

    .texto-descriptivo {
        margin-top: 4rem;
        margin-right: 0;
        font-weight: 200;
        width: auto
    }

    .texto-descriptivo>p {
        margin: 0 auto;
        max-width: 200px
    }

    .texto-descriptivo>h1 {
        font-size: 2rem;
        line-height: 2.1rem
    }

    section>button {
        font-weight: 100;
        border-radius: 10px;
        margin-top: 1.5rem;
        margin-bottom: .7rem;
        height: 5rem;
        width: 17rem;
        padding-left: 2rem;
        padding-right: 2.3rem
    }
}