<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">
      <p><b>Try it free 7 days</b> then $20/mo. thereafter</p>
    </button>
  </div>
</section>

<!-- FORMULARIO -->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Surname</mat-label>
    <input matInput>
  </mat-form-field>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>
</form>


<section>
  <button mat-raised-button color="accent">CLAIM YOUR FREE TRIAL</button>
  <p>By clicking the button, you are agreeing to our <b><a>Terms of Services</a></b></p>
</section>
