.form {
  background-color: #fff;
  padding: 1.5rem;
  height: 25rem;
  width: 30rem;
  border-radius: 7px;
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.2);
}

.form p {
  font-size: 10px;
  color: #d6d4df;
  font-weight: 100;
  text-align: center;
}

.form b {
  color: hsl(0, 100%, 74%)
}

.form div {
  display: flex;
  flex-direction: column;
}

button {
  color: black;
}
